.pdt-dtl__display{
    position: relative;
}

.pdt-dtl__display {
    display: grid;

    margin: 35px auto;
    min-height: 500px;
}

.pdt-dtl__img-cntnr{
    border: 1px solid lightslategray;
    width: 100%;
    height: 100%;
    padding: 0%;
    object-fit: contain;
    box-sizing: content-box;
    display:grid;
    align-items: center;
}

.pdt-dtl__img{
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
.pdt-dtl__main-info{
    display: grid;
    grid-template-rows: fit-content(15%) 8% 7% 7% 35% 10% 10% 8%;
    grid-row-gap: 5px;
    margin: 25px 0px 25px 25px;
    padding: 0 10px;
}

.pdt-dtl__name{
    font-size: 25px;
    margin-bottom: 10px;
    word-wrap:break-word;
    height: auto;
    align-self: end;
}

.pdt-dtl__label{
    align-self: end;
}

.pdt-dtl__price{
    font-size: 21px;
}

.pdt-dtl__policies{
    align-self: end;
}

.pdt-dtl__stock{
    font-size: 14px;
    align-self: end;
}
.pdt-dtl__policies > p {
    margin-bottom: 3px;
}

.pdt-dtl__add-to-cart{
    background-color: white;
    font-weight: bold;
    color: black;
    border-style: 1px solid black;
}

.pdt-dtl__buy-it-now{
    background-color: midnightblue;
    font-weight: bold;
    color: white;
    border: none;
    height: 100%;
    align-self: end;
}

.pdt-dtl__shipping-time{
    font-size: 13px;
    align-self: start;
    margin-top: 2px;
}

.pdt-dtl__xtra-info{
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    /* position: absolute; */
    
}

.pdt-dtl__xtra-info-btn{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: none;
    border-bottom: 1px solid darkgray;
    background-color: white;
    width: 40%;
    height: 42px;
    padding: 12px;
}

.pdt-dtl__xtra-info-title{
    font-size: 15px;
    font-weight: bold;
    justify-self: start;
}

.pdt-dtl__desc{
    display: none;
    width: 40%;
    padding: 0px 12px 12px 12px;
}

.pdt-dtl__desc-chevron{
    align-self: start;
}

.pdt-dtl__reviews{
    display: none;
    width: 40%;
    padding: 0px 12px 12px 12px;
}

.fa-chevron-down{
    height: 100%;
    /* width: 30px; */
    justify-self: end;
    align-self: center;
    transition: all .1s ease-in-out;
}

@media only screen and (min-width: 1500px){
    .pdt-dtl__display {
        width: 60%;
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1499px){
    .pdt-dtl__display {
        width: 65%;
    }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px){
    .pdt-dtl__display {
        width: 70%;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1299px){
    .pdt-dtl__display {
        width: 75%;
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1199px){
    .pdt-dtl__display {
        width: 80%;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1099px){
    .pdt-dtl__display {
        width: 85%;
    }
}

@media only screen and (min-width: 1000px){
    .pdt-dtl__display {
        grid-template-columns: minmax(190px, 55%) minmax(190px, 45%);
    }
}

@media only screen and (max-width: 999px){
    .pdt-dtl__display {
        grid-template-rows: minmax(auto, 1fr) minmax(auto, 1fr);
        max-width: 60vw;
        min-width: 300px;
        max-height: 70vh;
    }

    .pdt-dtl__main-info{
        height: 80%;
        margin: 25px 0px;
        grid-template-rows: fit-content(12%) 8% 8% 7% 27% 10% 10% 8%;
    }

    .pdt-dtl__xtra-info-btn{
        min-width: 300px;
        max-width: 100vw;

    }

    .pdt-dtl__desc{
        min-width: 300px;
        max-width: 60vw;

    }
    .pdt-dtl__reviews{
        max-width: 60vw;
        min-width: 300px;
    }
}

.pdt-dtl__review-container{
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.pdt-dtl_review-card{
    width: 100%;
    /* background: red; */
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding-top: 10px;
    border-top: 2px solid #8d8d8d;
}

.pdt-dtl_review-card > div {
    display:flex;
    justify-content: start;
    align-items: center;
}

.pdt-dtl_review-card button {
    border: none;
    padding: 4px;
    margin: 0 4px;
    font-size: large;
    width: 25px;
    justify-self: flex-end;
}

.pdt-dtl_add-review-button{
    margin: 10px auto;
    padding: 5px 30px;
    background-color: midnightblue;
    color: white;
    font-weight: 500;
    font-size: 16px;
}

.pdt-dtl_add-review-form{
    margin: 0 auto;
    padding: 10px;
    background-color: rgb(213, 213, 255);
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
}

.pdt-dtl_add-review-textarea{
    width: 100%;
    padding: 5px;
    flex-grow: 1;
    font-size: 16px;
    font-family: 'Times New Roman';
    background-color: white;
    overflow-y: auto;
}

.pdt-dtl_add-review-rating{
    margin-top: 10px;
}

.review-form_btn-row{
    width: 100%;
    display: flex;
}

.review-form_submit-btn{
    margin-right: 10px;
    background-color: midnightblue;
    color: white;
    border-radius: 5px;
}

.review-form_cancel-btn{
    background-color: white;
    border-radius: 5px;
    border: none;
}

.review-form_btn-row button{
    margin-top: 10px;
    flex-grow: 1;
    padding: 5px;
}

.review-rating-display{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    font-size: 20px;
}

.review-rating-picker{
    margin-top: 10px;
    display: flex;
    font-size: 20px;
}

.review-rating-label{
    margin-right: 5px;
}

.review-rating-picker i{
    transition: opacity 1s ease-out;
}

.fa-star{
    color: rgb(255, 167, 66);
}
