
.pdt-dtl__display {
    display: grid;
    grid-template-columns: 55% 45%;
    width: 60%;
    /* height: 500px; */
    margin: 35px auto;
    /* border-style: solid; */
    min-height: 500px;
}

.pdt-dtl__img{
    border: 1px solid lightslategray;
    width: 100%;
    height: 100%;
    padding: 0%;
    object-fit: contain;
    box-sizing: content-box;
}

.pdt-dtl__main-info{
    display: grid;
    grid-template-rows: fit-content(15%) 8% 7% 7% 20% 10% 10% 8%;
    grid-row-gap: 5px;
    margin: 25px 0px 25px 25px;
    /* border-style: solid; */
    padding: 0 10px;
}

.pdt-dtl__name{
    font-size: 25px;
    margin-bottom: 10px;
    word-wrap:break-word;
    height: auto;
    align-self: end;
}

.pdt-dtl__label{
    align-self: end;
}

.pdt-dtl__price{
    font-size: 21px;
}

.pdt-dtl__policies{
    align-self: end;
}
.pdt-dtl__stock{
    font-size: 14px;
    align-self: end;
}

.pdt-dtl__add-to-cart{
    background-color: white;
    font-weight: bold;
    color: black;
    border-style: 1px solid black;
}

.pdt-dtl__buy-it-now{
    background-color: midnightblue;
    font-weight: bold;
    color: white;
    border: none;
}

.pdt-dtl__shipping-time{
    font-size: 13px;
    align-self: center;
}

.pdt-dtl__review-container{
    margin: 20px auto;
    padding: 20px;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.pdt-dtl_review-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding-top: 10px;
    border-top: 2px solid #8d8d8d;
}

.pdt-dtl_add-review-button{
    margin: 0 auto;
    padding: 5px 30px;
    background-color: midnightblue;
    color: white;
    font-weight: 500;
    font-size: 16px;
}

.pdt-dtl_add-review-form{
    margin: 0 auto;
    padding: 10px;
    background-color: rgb(213, 213, 255);
    width: 60%;
    height: 200px;
    display: flex;
    flex-direction: column;
}

.pdt-dtl_add-review-form textarea{
    width: 100%;
    font-size: 16px;
    font-family: 'Times New Roman';
    background-color: white;
}

.pdt-dtl_add-review-rating{
    margin-top: 10px;
}

.review-form_btn-row{
    width: 100%;
    display: flex;
}

.review-form_submit-btn{
    margin-right: 10px;
    background-color: midnightblue;
    color: white;
    border-radius: 5px;
}

.review-form_cancel-btn{
    background-color: white;
    border-radius: 5px;
    border: none;
}

.review-form_btn-row button{
    margin-top: 10px;
    flex-grow: 1;
    padding: 5px;
}

.fa-star{
    color: rgb(255, 167, 66);
}
