.checkout-main-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkout-center-container{
    height: 1500px;
    width: 70%;
    display: flex;
}

.checkout-left-container{
    width: 60%;
    height: 100%;
    background-color: antiquewhite;
    padding: 50px;
}

.checkout-right-container{
    width: 40%;
    height: 100%;
    background-color: #f0f0f0;
    padding: 50px;
}

.checkout-form-container{
    margin: 20px;
}

.checkout-list{
    list-style: none;
}

.checkout-list li{
    margin-top: 5px;
}

/* Single Product div in Checkout List */
.checkout-list_item{
    display: flex;
}

.checkout-item_image{
    top: 2;
    bottom: 2;
    left: 2;
    right: 2;
    position: absolute;
    background-color: #e0e0e0;
}

.divider{
    background-color: rgba(175,175,175,.34);
    height: 1px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Right Price display */

.price-display{
    width: 100%;
}

.price-display tr{
    display: flex;
    align-items: center;
}

.price-display th{
    display: flex;
    justify-content: flex-start;
}

.price-display td{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}
