.order-page-container{
    height: 100vh;
    display: flex;
}
.order-select-sidebar{
    width: 350px;
    background-color: #C8E0F4;
    display: flex;
    flex-direction: column;
}

.order-select-sidebar-header{
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    border-bottom: 5px double black;
    background-color: white;
    position: sticky;
    padding-left: 10px;

}

.order-select-list{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    flex: 1;
}

.order-list-item{
    height: 100px;
    font-size: 20px;
    /* border: 1px solid black; */
    /* box-shadow: inset 0px 0 50px 2px #8ad8ee; */
    /* background-color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border-radius: 5px; */
    padding-top: 8px;
    border-bottom: 1px solid black;
}

.order-list-item p{
    margin: 10px;
}

.order-list-item:hover{
    /* box-shadow: inset 0 0 70px 5px #8ad8ee; */
    background-color: #9DD1F1;
    cursor: pointer;
}

.order-summary-container{
    flex-grow: 1;
    background-color: #e1f5e8;
    /* rgba(209, 225, 255, 0.667); */
    display: flex;
}

.order-product-card{
    height: 140px;
    width: 320px;
    border: 1px solid black;
    background-color: #C8E0F4;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    display: flex;
    cursor: pointer;
}

.order-product-card:hover{
    box-shadow: 0 0 2px 2px #558564;
}

.order-product-card-image{
    width: 120px;
    margin-right: 10px;
    background-size: 100% 100%;
}

.order-product-card-title{
    padding-top: 20px;
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 10px;
}
