nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: midnightblue;
  /* margin-bottom: 10px; */
  min-width: 275px;
  height: 75px;
  position: sticky;
  top: 0;
  position: -webkit-sticky;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: white;
}

#nav-logo-link {
  text-decoration: none;
  color: white;
}

.nav-logo-search {
  display: flex;
  align-items: center;
}

.nav-logo {
  padding: 5px;
  margin-right: 5px;
}

.nav-search {
  padding: 5px;
  margin-left: 5px;
}

@media screen and (max-width: 628px) {
  .nav-search {
    display: none;
  }
}
.nav-search-input {
  font-size: 16px;
  padding: 5px;
  width: 250px;
}

.nav-logo-h1 {
  font-size: 36px;
}

.nav-links-btn {
  color: white;
  background: midnightblue;
  border: none;
  padding: 10px;
  font-size: 18px;
}

button {
  cursor: pointer;
}

.nav-btn {
  font-size: 19px;
  background: midnightblue;
  color: white;
  border: none;
  padding: 5px;
}

.close-cart-dropdown {
  height: 100vh;
  width: 100%;
  position: absolute;
  /* top: 0;
  left: 0; */
}

.cart-dropdown {
  position: absolute;
  top: 75px;
  right: 0px;
  border-radius: 1px;
  border: 1px solid rgb(224, 224, 224);
  height: 300px;
  width: 360px;
  background-color: white;
  animation-name: open;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  overflow: hidden;
  box-shadow: 0px 3px 7px gray;
  font-size: 14px;
}

@keyframes open {
  from {
    height: 0px;
  }
  to {
    height: 320px;
  }
}

.cart-close {
  animation-name: close;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  overflow: hidden;
}

@keyframes close {
  from {
    height: 320px;
  }
  to {
    height: 0px;
  }
}

.item-quantity {
  display: flex;
  justify-content: center;
  border: 1px solid rgb(221, 221, 221);
  height: 31px;
}

.item-quantity button {
  width: 25px;
  height: 29px;
  border: none;
  color: black;
  border-radius: 0px;
  background-color: white;
}

.item-quantity button:hover {
  background-color: rgb(236, 236, 236);
}

.item-quantity div {
  border: none;
  /* border-top: 1px solid black;
  border-bottom: 1px solid black; */
  text-align: center;
  width:25px;
  height: 29px;
  font-size: 12px;
  color: black;
}

.cart-item-title {
  width: 110px;
}

.cart-item-price {
  width: 70px;
  text-align: end;
}

.cart-dropdown-item {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid rgb(207, 207, 207);
  justify-content: space-between;
  align-items: center;
}

.cart-dropdown-item-container {
  overflow-y: scroll;
  height: 270px;
}

.total-cost-container {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: flex-end;
  background-color: white;
  padding: 5px;
  border-top: 1px solid rgb(231, 231, 231);
}

.total-cost-container span {
  padding: 5px;
}

.total-cost-container button {
  color: white;
  background-color: rgb(90, 148, 255);
  padding: 7px;
  margin: 3px;
  border: none;
}

#checkout-cart-btn {
  background-color: rgb(90, 148, 255);
}

#clear-cart-btn {
  background-color: rgb(250, 216, 103);

}#checkout-cart-btn:hover {
  background-color: rgb(79, 131, 228);
}

#clear-cart-btn:hover {
  background-color: rgb(233, 201, 96);
}
