nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: midnightblue;
  /* margin-bottom: 10px; */
  min-width: 275px;
  height: 75px;
  position: sticky;
  top: 0;
  position: -webkit-sticky;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: white;
}

#nav-logo-link {
  text-decoration: none;
  color: white;
}

.nav-logo-search {
  display: flex;
  align-items: center;
}

.nav-logo {
  padding: 5px;
  margin-right: 5px;
}

.nav-search {
  padding: 5px;
  margin-left: 5px;
}

@media screen and (max-width: 628px) {
  .nav-search {
    display: none;
  }
}
.nav-search-input {
  font-size: 16px;
  padding: 5px;
  width: 250px;
}

.nav-logo-h1 {
  font-size: 36px;
}

.nav-links-btn {
  color: white;
  background: midnightblue;
  border: none;
  padding: 10px;
  font-size: 18px;
}

button {
  cursor: pointer;
}

.nav-btn {
  font-size: 19px;
  background: midnightblue;
  color: white;
  border: none;
  padding: 5px;
}

.close-cart-dropdown {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

.cart-dropdown {
  position: absolute;
  top: 75px;
  right: 15px;
  border-radius: 3px;
  border: 1px solid black;
  height: 300px;
  width: 360px;
  background-color: white;
  animation-name: open;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  overflow: hidden;
}

@keyframes open {
  from {
    height: 0px;
  }
  to {
    height: 300px;
  }
}

.cart-close {
  animation-name: close;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  overflow: hidden;
}

@keyframes close {
  from {
    height: 300px;
  }
  to {
    height: 0px;
  }
}

.cart-dropdown-item {
  display: flex;
  padding: 10px;
  border: 1px solid gray;
  justify-content: space-between;
}

.cart-dropdown-item-container {
  overflow-y: scroll;
  height: 270px;
}

.total-cost-container {
  display: flex;
  justify-content: flex-end;
}
