.main-banner {
  height: 400px;
  width: 100%;
}

.main {
  height: calc(100vh - 75px);
  /* border: 1px solid red; */
}

.main-banner-img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.container-grid {
  background-color: lightblue;
  /* height: calc(100vh - 475px); */
  height: 100%;
  width: 100%;
  display: grid;
  grid-template: 1fr 4fr 1fr / 1fr 5fr;
  gap: 5px;
  grid-template-areas:
    "featured featured"
    "filter products"
    "footer footer";
}

.featured {
  border: 2px solid red;
  grid-area: featured;
}
.filter {
  border: 2px solid yellow;
  grid-area: filter;
}
.products {
  border: 2px solid orange;
  grid-area: products;
}

.products div {
  padding: 15px;
}

.footer {
  border: 2px solid purple;
  grid-area: footer;
}
